/*.res_textarea.tc
{
    margin-left:0;
    width:100%;
    height:200px;
}
.button.button_tc
{
    float:left;
}
#add_label_active
{
    font-size:9pt;
}
#input_hrs
{
    display:inline-block;
   
}
.input-control.input_hrs
{
    width:50px;
    height:20px;
    padding-left:5px;
}
.error_inline.line
{
    margin:0 auto;
    font-size:10pt;
    color:#c00000;
    font-weight:bold;
    background-color:#e6e0ec;
    border-radius:2px;
    text-align:center;
    position:absolute;
    width:90%;
} */

body
{
/*    background-image:url('https://az653105.vo.msecnd.net/media/Default/app/images/textures/wood-bg-white.jpg');  */
    background-image:url('http://www.frappant.in/Images/bgImg.jpg');
    /*background-image: url(http://static.wixstatic.com/media/874525150724b27ecb7c53aa6954e1d1.wix_mp_srb_p_500_500_75_22_0.50_1.20_0.00_wix_mp_srb);
    background-color: rgb(227, 217, 194);*/
}

/* Slideshow in Pop Up */
.w_mask
{
    height:160px;
}
.img-w-rounded
{
    height:160px;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}
ul.w_images
{
     height:160px;
     margin-bottom:10px;
}
ul.w_triggers
{
    margin-top:3%;
    padding:0;
}
ul.w_triggers li 
{ 
    display: inline-block;  
    cursor:pointer;
    list-style-type:none;
    opacity:0.67;
/*    margin-bottom:3px;*/
    float: none;
    margin: 0px;
    padding: 0px;
    font-size:0px;
}
ul.w_triggers li:hover
{
    opacity:1;
/*    border:1px solid #FFC000;*/
}
ul.w_triggers li.selected 
{
   opacity:1;
   border:1px solid #a61c00;
   border-radius: 4px;
}
.thumbnail_img
{
    width:50px;
    height:30px;
}
.img-thumbnail
{
    padding:3px;
    border:1px solid white;
}
#choice_dining_enquiry_modal .modal-header
{
    background-color: #f2f2f2;
    color: #4c4c4c;
    border-radius:4px;
/*    letter-spacing:2.5pt;*/
}
.modal-header .close 
{
    margin-top: 5px;
}
.form-control
{
    padding:6px 6px;
}
tr.individualrecord
{
    background: #fff;
    margin-bottom: 20px;
    display: block;
   /*-moz-box-shadow: 0px 0px 2px 1px #ebebeb;
    -webkit-box-shadow: 0px 0px 2px 1px #EBEBEB;
    box-shadow: 0px 0px 2px 1px #EBEBEB;*/
	padding:0;
	-webkit-box-shadow: inset 0 0px 0px #4c4c4c,0 0 10px #4c4c4c;
	box-shadow: inset 0 0px 0px #4c4c4c,0 0 10px #4c4c4c;
	-moz-box-shadow: inset 0 0px 0px #4c4c4c,0 0 10px #4c4c4c;
/*	 border:1px solid #4c4c4c;*/
/*	border:1px solid #f2f2f2;*/
}
tr.individualrecord:hover
{
    border:1px solid #4c4c4c;
    -webkit-box-shadow: inset 0 0px 0px #4c4c4c,0 0 10px #4c4c4c;
	box-shadow: inset 0 0px 0px #4c4c4c,0 0 10px #4c4c4c;
	-moz-box-shadow: inset 0 0px 0px #4c4c4c,0 0 10px #4c4c4c;
/*	cursor:pointer;*/
}
.div_top
{
    padding: 5px;
    background: #f0f0f0;
    color:black;
/*    background:url('https://az653105.vo.msecnd.net/media/Default/app/images/textures/wood-bg-red.jpg');*/
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    position: relative;
    border-bottom:1px solid #4c4c4c;
}
.div_bottom
{
    padding:10px;
}
.tr_image
{
    width:100%;
    height:140px;
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
    padding:3px;
}
.choice_btns
{
    width: 120px;
    font-size: 10pt;
    font-weight: bold;
    height: 40px;
    background:#a61c00;
    border: 2px solid #a61c00;
    color: white;
/*    letter-spacing: 1px;*/
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
/*    overflow: hidden;*/
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}
.choice_btns:hover,.choice_btns:active,.choice_btns:focus
{
    color:#a61c00;
    background-color:white;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    /*    overflow: hidden;*/
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}
/*.price_color
{
    color:#8b6979;
}*/

::-webkit-input-placeholder { font-size: 10pt; }
::-moz-placeholder { font-size: 10pt; } /* firefox 19+ */
:-ms-input-placeholder { font-size: 10pt; } /* ie */
input:-moz-placeholder { font-size: 10pt; }

.input-control
{
    width:100%;
    display:block;
    height:35px;
}
#sidebar_search .input-control,#sidebar_search .ui-multiselect
{
    height:29px;
}
#sidebar_search button
{
    width:80px;
    height:35px;
}
/*.replace_div
{
    height: 400px;
    overflow-y: auto;
    min-height: 450px;
}*/
#copyrightblock
{
    background:transparent;    
}
#copyrighttext
{
    color:#88171b;
    font-weight:bold;
    font-size:10pt;
}
#refine_search
{
/*    background:transparent;*/
/*border: 1px solid black;
border-top: 0;*/
/*-webkit-box-shadow: inset 0 0px 0px black,0 0 10px black;
box-shadow: inset 0 0px 0px black,0 0 10px black;
-moz-box-shadow: inset 0 0px 0px #61C0AF,0 0 10px #61C0AF;*/

/*-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);*/
    box-shadow: 0px 0px 5px black;
}
#sortby
{
    width:170px;
}
/*#choice_dining_enquiry_modal .modal-header .close
{
    opacity:1;
    color:white;
} */
/* Nav CSS */
nav#nav-main
{
/*    background-color:#4c4c4c;*/
    /*background-image:url('http://livedemo00.template-help.com/wordpress_52702/wp-content/themes/theme52702/images/header_bg.png');
    padding: 10px 0;*/
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
nav#nav-main ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    width:100%;
}
nav#nav-main li 
{
    display: inline-block;
    font-weight:bold;
/*    border-right: solid 1px black;*/
/*    padding: 0 10px 0 5px;*/
}
nav#nav-main a 
{
    display: block;
    color: #a61c00;
    padding: 10px 20px;
/*    letter-spacing:1.5pt;*/
}
nav#nav-main a:hover,nav#nav-main a.active
{
    background-color:#a61c00;
    text-decoration:none;
    color:white;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
/*    font-weight:bold;*/
}
nav#nav-main li:last-child 
{
    border-right: none;
}
#header_div
{
/*    background-color:#4c4c4c;*/
/*    background-image: url(http://static.wixstatic.com/media/874525150724b27ecb7c53aa6954e1d1.wix_mp_srb_p_500_500_75_22_0.50_1.20_0.00_wix_mp_srb);*/
/*    background-color: rgb(227, 217, 194);*/
/*    background: -webkit-linear-gradient(#387963, #50af8f);*/
    background-color:white;
    -webkit-box-shadow: 7px 2px 07x 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 7px 2px 7px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 7px 2px 7px 0px rgba(50, 50, 50, 0.75);
}
textarea
{
    height:120px;
}
.timepicker 
{
    background-image: url('/web/static/src/img/icons/terp-project.png');
    background-position: right 3px center;
    background-repeat: no-repeat;
    cursor: pointer;
} 
.h4_name
{
    margin:0px;
    font-size:16px;
}
#grps_desc
{
    width:100%;
    resize:none;
    border:0;
    background:white;
    color:black;
}
.mb32
{
    margin-bottom:0px !important;
} 
ul[role="tablist"]
{
    font-size:10pt;
}
.nav-tabs > li > a
{
    color:#a61c00;
}
.tab-content
{
    padding:10px;
}
.error_inline.line
{
    margin:0 auto;
    font-size:10pt;
    color:white;
    font-weight:bold;
    background-color:#c00000;
    border-radius:2px;
    text-align:center;
    width:100%;
    margin-bottom:2px;
}