#refine_search
{
    width:25%;
    background-color:#f2f2f2;
    float:left;
    position:relative;
}
#refine_main:before,
#refine_main:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

#refine_main:after {
    clear: both;
}
#refine_main
{
    clear:both;
    width:100%;
    position:relative;
}
/*#refine_form:before,
#refine_form:after {
    content: " "; /\* 1 *\/
    display: table; /\* 2 *\/
}
#refine_form:after {
    clear: both;
}
*/
#refine_form
{  
    margin-left:6%;
    margin-right:6%;
}
#refine_text
{
    color:white;
    padding-left:5%;
    top:15%;
    font-weight:bold;
    font-size:10pt;
    position:relative;
}
#display_text
{
    color:white;
    top:15%;
    font-weight:bold;
    font-size:10pt;
    position:relative;
    display:inline;
}
.input-control.refine_search_input
{
    width:100%;
    height:24px;
    margin:0;
}
#display
{
    width:73.5%;
    float:right;
}
.display_text
{   
    padding-top:0.5%;
}
#search_alphabet
{
    display:inline;
    font-size:10pt;  
}
.alphabet_style
{
    cursor:pointer;
    font-weight:bold;
    font-size:10pt;
}
#mapbuttons
{
    display:inline;
    float:right;
    padding:5px 0px; 
    clear:both;
}
#mapbuttons:before,
#mapbuttons:after {
    content: " "; /* 1 */
    display: inline; /* 2 */
}

#mapbuttons:after {
    clear: both;
}
#sortby
{
    display:inline;
    float:right;
}
.input-control.sortby
{
    height:24px;
    width:100px;
    display:inline;
}
.individualrecord
{
    padding:10px;
    border: 1px solid #bfbfbf;
    width:100%; 
    margin-bottom:0.5%;
}
.imgrounded
{
/*    display: table-cell;*/
/*    height:100px;*/
    padding:10px;
}
.image_within
{
    width:100%;
    height:122px;
}
.textrounded
{ 
  /*display: table-cell;
  width:35%;*/
  padding:10px;
  padding-right:5px;
  padding-left:0;
/*  border-right:solid 1px #bfbfbf;*/
}
.read-more,.read-less
{
    font-size:9pt;
}
#res_name
{
    font-weight:bold;
}
.menurounded
{ 
/*  display: table-cell;*/
/*  width:50%;*/
    padding:10px;
    padding-right:5px;
    padding-right:5px;
}
.buttonrounded
{  
/*  display: table-cell;*/
  text-align:center;
/*  width:25%;*/
}
#selectbutton
{
    text-decoration: none !important;
}
#refinespace
{
    margin:30px;
}
.ui-datepicker
{
    width:17em;
}