.openerp .announcement_bar {
    display: none;
    visibility: hidden;
 }
.tr_oe_quote q {
  margin: 10px;
  display: block;
  font-style: italic;
  text-align: justify;
  font-size: 17px;
  color: #4e66e7;
}

.tr_oe_quote cite {
  float: right;
  display: block;
  font-style: normal;
  margin-top: 16px;
}


#tr_oe_para {
  margin: 0;
}

.trab_boldc_css {font-weight:bold; color:blue}
.trab_bold_css {font-weight:bold!important;}
.trab_maroon_css { color: maroon;}

.openerp .oe_horizontal_separator {
  font-weight: bold;
  font-size: 14px;
  margin: 15px 0px 10px 0px;
  color: #7c7bad;
}
 
.oe_kanban_trabacus_list > a > span:hover{
    margin: 4px 0;
    text-decoration: underline;
}

.oe_kanban_trabacus_avatars {
    margin-top: 8px;
}
.openerp .announcement_bar {
    display: none;
    visibility: hidden;
 }
 .verticalLine {
    border-left: thin solid  #000000;
    padding-left: 2%;
    display:inline-block;
    
}
.verticalLine1{
   display:inline-block;
   
}



