#lead_table
{
    width:100%;
}
#lead_table td
{
 
}
#column_id
{
    width:8%;
}
#column_dob
{
    width:12%;
}
#column_gname
{
    width:8%;
}
#column_guest
{
    width:5%;
}
#column_to_ref
{
    width:5%;
}
#column_guest_name
{
    width:10%;
}
#column_guest_email
{
    width:12%;
}
#column_menu
{
    width:10%;
}
#column_amount
{
    width:5%;   
}
#column_status
{
    width:6%;
}
#column_viewlink
{
    width:5%;
}
#filter_form
{
    height:110px;
    background-color:#f2f2f2;
    width:100%;
}
/*.ui-datepicker
{
    width:15em;
}*/
/*
#dvLoading
{
background:#000 url(https://www.advantaproducts.com/images/siteimages/loading3.gif) no-repeat center center;
height: 100%;
width: 100%;
position: fixed;
z-index: 1000;
left: 0;
top: 0;
opacity: .5;
-moz-opacity: .5;
-filter: alpha(opacity=50);
}*/
/*
background: black;
opacity: .5;
-moz-opacity: .5;
-filter: alpha(opacity=50);
position: fixed;
top: 0;
left: 0;
height: 100%;
width: 100%;
z-index: 5;
display: none; 
*/

.Highlighted a{
   background-color : Green !important;
   background-image :none !important;
   color: White !important;
   font-weight:bold !important;
   font-size: 12pt;
}
.chng_menus,.chng_custinfo
{
   width:20%;   
   cursor:pointer;
}