body,pre,code
{
    font-family    :"Helvetica Neue",Helvetica,Arial,sans-serif;
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 
{
    font-family  :"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight:500;
}
pre
{
    padding: 0px;
    margin: 0 0 10px;
    font-size: 10pt;
    word-break: initial;
    background-color: transparent;
    border: 0px;
    border-radius: 0px;
}
#bookingline
{
    background-color:#ad4bc2;
    background: -ms-linear-gradient(#ad4bc2, #793487); /* For IE 10+ */
    background: -webkit-linear-gradient(#ad4bc2, #793487); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ad4bc2, #793487); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ad4bc2, #793487); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ad4bc2, #793487);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ad4bc2, endColorstr=#793487)";  /* for ie 8 and 9*/
    box-shadow: 0 0 4px #793487;
}
#second_bookingline
{
    background-color:#ad4bc2;
    background: -ms-linear-gradient(#e6e0ec 20%, #bfafce); /* For Safari 5.1 to 6.0 */
    background: -webkit-linear-gradient(#e6e0ec 20%, #bfafce); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e6e0ec 20%, #bfafce); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e6e0ec 20%, #bfafce); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e6e0ec 20%, #bfafce);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#e6e0ec, endColorstr=#bfafce)";  /* for ie 8 and 9*/
}
.buttonblock
{
    background-color:#ad4bc2;
    background: -ms-linear-gradient(#ad4bc2, #793487); /* For IE 10+ */
    background: -webkit-linear-gradient(#ad4bc2, #793487); /* For Safari and Chrome 5.1 to 6.0 */
    background: -o-linear-gradient(#ad4bc2, #793487); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ad4bc2, #793487); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ad4bc2, #793487);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ad4bc2, endColorstr=#793487)";  /* for ie 8 and 9*/
}
.buttonblock:hover,.buttonblock:focus,.color
{
    text-decoration:none;
    background: -ms-radial-gradient(#e6e0ec, #e6e0ec); /* For IE 10+ */
    background: -webkit-radial-gradient(#e6e0ec, #e6e0ec); /* For Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#e6e0ec, #e6e0ec); /* For Opera 11.1 to 12.0 */
    background: -moz-radial-gradient(#e6e0ec, #e6e0ec); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#e6e0ec, #e6e0ec);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#e6e0ec, endColorstr=#e6e0ec)";  /* for ie 8 and 9*/
    color:#793487;
}
#bookingline > div:hover
{
    background: -ms-radial-gradient(#e6e0ec, #e6e0ec); /* For IE 10+ */
    background: -webkit-radial-gradient(#e6e0ec, #e6e0ec); /* For Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#e6e0ec, #e6e0ec); /* For Opera 11.1 to 12.0 */
    background: -moz-radial-gradient(#e6e0ec, #e6e0ec); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#e6e0ec, #e6e0ec);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#e6e0ec, endColorstr=#e6e0ec)";  /* for ie 8 and 9*/
}
#bookingline > div:hover > a
{
     text-decoration:none;
     color:#793487; 
}
.color > a
{
    color:#793487;
    text-decoration:none;
}
#line
{
    background-color:#ad4bc2;
}
.input-control:focus 
{
    border-color:#ad4bc2;
    outline:0;
    -webkit-box-shadow:inset 0 0px 0px #ad4bc2,0 0 6px #ad4bc2;
    box-shadow:inset 0 0px 0px #ad4bc2,0 0 6px #ad4bc2;
}
#forget_password
{
    color:#ad4bc2;
}
.button
{
     background-color:#ad4bc2;
}
.button:hover,.button:focus 
{
    background-color:#793487;
    text-decoration:none;
    text-shadow: 0 0 7px white;
    color:white;
}
.button:active
{
  background-color:#ad4bc2;
  border:0px inset #ad4bc2;
  color:#793487;
  text-decoration:none;
}
.disabled,.disabled:hover
{
    background-color:#ad4bc2;
    color:white;
}
#footerblock
{
    background-color:#e6e0ec;
}
.columns_center,.columns_text,.columns_number,#titleblock,#hotelname,.header_background
{
    background-color:#404040;
}
.add_resdetls:hover
{
    background-color:#e6e0ec;
    color:#ad4bc2;
}
.res_textarea:focus 
{
    border-color:#ad4bc2;
    outline:0;
    -webkit-box-shadow:inset 0 0px 0px #ad4bc2,0 0 6px #ad4bc2;
    box-shadow:inset 0 0px 0px #ad4bc2,0 0 6px #ad4bc2;
}
#heading_block
{
    background-color:#ad4bc2;
    box-shadow: 0 0 4px #ad4bc2;
}
.main_color
{
    color:#ad4bc2;
}
.main_color:hover
{
    color:#ad4bc2;
}
.main_subcolor
{
    background-color:#e6e0ec;
}
.main_bgcolor
{
    background-color:#ad4bc2;
}
.border_main
{
    border:1px solid #ad4bc2;
    box-shadow : inset 0 0px 0px #ad4bc2,0 0 6px #ad4bc2;
}
.border_main:hover,.border_main:focus
{
    color:#793487;
}
.read-more a,.read-less a,.button_common,.time_button_common
{
    color:#ad4bc2;
}
.buttonblock.operator_button
{
     background-color:#ad4bc2;
    background: -ms-linear-gradient(#e6e0ec 20%, #bfafce); /* For Safari 5.1 to 6.0 */
    background: -webkit-linear-gradient(#e6e0ec 20%, #bfafce); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e6e0ec 20%, #bfafce); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e6e0ec 20%, #bfafce); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e6e0ec 20%, #bfafce);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#e6e0ec 20%, endColorstr=#bfafce)";  /* for ie 8 and 9*/
}
i#empty_star:hover:before 
{
    content:"\f005";
    color:#ad4bc2;
} 
.fc-widget-header, .fc-widget-content
{
    border: 1px solid #ad4bc2;
}
ul.w_triggers li.selected,ul.triggers li.selected 
{
    color:#ad4bc2;
}
#content 
{
    background-color: #e6e0ec;
}  
#grid_table tr:hover td,.hover_color
{
    background:#e6e0ec;
}
.ui-multiselect,.ui-multiselect-menu
{
    font-family    :"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.main_div
{
    font-family    :"Helvetica Neue",Helvetica,Arial,sans-serif;
}
#content 
{
    -webkit-box-shadow: inset rgb(173,75,194) 0 0.3em .5em, inset rgb(173,75,194) 0 -0.1em .3em, /* inner shadow */ 
						
						#ad4bc2 0 .5em 5px; /* drop shadow */
	-moz-box-shadow: 	inset #ad4bc2 0 0.3em .3em, inset #ad4bc2 0 -0.1em .3em, /* inner shadow */ 
					
						rgba(0,0,0,0.2) 0 .5em 5px; /* drop shadow */
	box-shadow:		 	inset rgba(255,254,255,0.5) 0 0.5em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ 
						
						rgba(0,0,0,0.2) 0 .3em 5px; /* drop shadow */
}
#rloginblock
{
     border:3px solid #ad4bc2;
}
.flex-caption 
{
    bottom: 35px;
/*    background-color: rgba(0, 0, 0, 0.8);*/
/*    background-image:url('http://livedemo00.template-help.com/wordpress_52702/wp-content/themes/theme52702/images/header_bg.png');*/
    background: url('/website_capitalcentric/static/src/img/opacity_black_70.png');
    color: #fff;
    margin: 0;
    padding: 47px 25px 47px 25px;
    position: absolute;
    right: 0;
    width: 27%;
    text-align:center;
    font-weight:bold;
    font-style: italic;
} 
a.flex-caption:hover
{
    color:white;
}

.nav-pills>li>a {
  color: #ad4bc2;
}
.nav>li>a:hover, .nav>li>a:focus {
  text-decoration: none;
  background-color: #ad4bc2;
  color: white;
}








