.res_textarea.tc
{
    margin-left:0;
    width:100%;
    height:200px;
}
.button.button_tc
{
    float:left;
}
#add_label_active
{
    font-size:9pt;
}
#input_hrs
{
    display:inline-block;
   
}
.input-control.input_hrs
{
    width:50px;
    height:20px;
    padding-left:5px;
}
.error_inline.line
{
    margin:0 auto;
    font-size:10pt;
    color:white;
    font-weight:bold;
    background-color:#c00000; 
    border-radius:2px;
    text-align:center;
    position:absolute;
    width:90%;
}